<div class="restore-container">
    <h2>Restaurar Datos Eliminados</h2>
    
    <div class="restore-select">
      <label for="dataType">Seleccione el tipo de dato:</label>
      <select id="dataType">
        <option value="reparaciones">Reparaciones</option>
        <option value="clientes">Clientes</option>
        <option value="repuestos">Repuestos</option>
        <option value="equipos">Equipos</option>
        <option value="proveedores">Proveedores</option>
        <option value="tecnicos">Técnicos</option>
        <option value="compras">Compras</option>
      </select>
    </div>
    
    <div class="restore-list">
      <h3>Datos Eliminados de</h3>
      <ul>
        <li>
        
        </li>
      </ul>
    </div>
  </div>
  