<div class="container">
  <h2 class="text-center">Seguimiento de reparación</h2>
  <p class="text-center descripcion">
    Ingresa el código de seguimiento de tu ticket de reparación para verificar
    el estado y los detalles de tu reparación.
  </p>
  <form [formGroup]="form" (ngSubmit)="buscarReparacion()" class="mt-4">
    <div class="mb-3 row">
      <div class="col-9">
        <label for="idBusqueda" class="form-label">Código de rastreo</label>
        <input
          type="text"
          class="form-control"
          id="idBusqueda"
          formControlName="codigo"
          required
        />
      </div>
      <div class="col-3 p-2 mt-4">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          Buscar
        </button>
      </div>
      <div
        *ngIf="form.get('codigo')?.invalid && form.get('codigo')?.touched"
        class="text-danger"
      >
        El código de rastreo es obligatorio.
      </div>
    </div>
  </form>

  <div *ngIf="reparacionBuscada" class="mt-4 detalles-reparacion">
    <div class="text-center">
      <h3>Detalles de la Reparación</h3>
      <p><strong>Código:</strong> {{ reparacionBuscada.codigoSeguimiento }}</p>
      <p><strong>Descripción:</strong> {{ ultimaNota }}</p>
      <p>
        <strong>Fecha de entrega:</strong>
        {{ reparacionBuscada.fechaEntrega ?? "Aún no se entregó" }}
      </p>
      <p><strong>Cliente:</strong> {{ reparacionBuscada.cliente.nombre }}</p>
      <p><strong>Estado:</strong> {{ reparacionBuscada.estado }}</p>
    </div>
  </div>

  <div
    *ngIf="
      !reparacionBuscada &&
      form.get('codigo')?.valid &&
      form.get('codigo')?.touched &&
      !noseEncontro
    "
    class="mt-4"
  >
    <p class="text-danger">
      No se encontró la reparación con el código {{ form.get("codigo")?.value }}
    </p>
  </div>
</div>
