<div class="container">
  <h2>Proveedores</h2>
  <div class="row mb-3">
    <div class="col-md-6">
      <input
        type="text"
        placeholder="Buscar por nombre..."
        [(ngModel)]="nombre"
        class="form-control"
        (change)="onFilterChange()"
      />
    </div>
    <div class="col-md-6 text-end">
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#agregarProveedorModal"
      >
        Agregar proveedor
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedores" class="hover-row">
          <td>{{ proveedor.nombre }}</td>
          <td>{{ proveedor.direccion }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>{{ proveedor.email }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary me-2"
              data-bs-toggle="modal"
              data-bs-target="#ModificarProveedorModal"
              title="Modificar"
              (click)="
                abrirModalModificacion(
                  proveedor.id,
                  proveedor.nombre,
                  proveedor.direccion,
                  proveedor.telefono,
                  proveedor.email
                )
              "
            >
              <span class="material-icons icon-small">edit</span>
            </button>

            <button
              class="btn btn-danger"
              (click)="eliminarProveedor(proveedor.id)"
              title="Eliminar"
            >
              <span class="material-icons icon-small">delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center">
      <button
        class="btn btn-primary me-1"
        (click)="onPageChange(currentPage - 1)"
        [disabled]="currentPage === 0"
      >
        Anterior
      </button>
      <ng-container *ngIf="totalPages > 0">
        <button
          class="btn btn-primary me-1"
          (click)="onPageChange(0)"
          [disabled]="currentPage === 0"
        >
          1
        </button>
        <button
          *ngIf="currentPage > 1"
          class="btn btn-primary me-1"
          (click)="onPageChange(currentPage - 1)"
          [disabled]="currentPage === 1"
        >
          {{ currentPage }}
        </button>
        <button
          *ngIf="currentPage != 0 && totalPages != currentPage + 1"
          class="btn btn-primary me-1"
          (click)="onPageChange(currentPage)"
          [disabled]="true"
        >
          {{ currentPage + 1 }}
        </button>

        <button
          *ngIf="totalPages != currentPage + 2 && totalPages >= currentPage + 2"
          class="btn btn-primary me-1"
          (click)="onPageChange(currentPage + 1)"
        >
          {{ currentPage + 2 }}
        </button>
        <button
          *ngIf="totalPages > 1"
          class="btn btn-primary me-1"
          (click)="onPageChange(totalPages - 1)"
          [disabled]="currentPage === totalPages - 1"
        >
          {{ totalPages }}
        </button>
      </ng-container>
      <button
        class="btn btn-primary"
        (click)="onPageChange(currentPage + 1)"
        [disabled]="currentPage === totalPages - 1 || totalPages === 0"
      >
        Siguiente
      </button>
    </div>
  </div>

  <div
    class="modal fade"
    id="agregarProveedorModal"
    tabindex="-1"
    aria-labelledby="agregarProveedorModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form (ngSubmit)="agregarProveedor()">
          <div class="modal-header">
            <h2 class="text-center fs-2">Agregar proveedor</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              #agregarProveedorModal
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3 d-grid gap-2">
              <label for="nombre">Nombre:</label>
              <input
                type="text"
                id="nombre"
                name="nombre"
                class="form-control fs-5"
                required
                [(ngModel)]="nuevoProveedor.nombre"
              />
            </div>
            <div class="mb-3 d-grid gap-2">
              <label for="direccion">Dirección:</label>
              <input
                type="text"
                id="direccion"
                name="direccion"
                class="form-control fs-5"
                required
                [(ngModel)]="nuevoProveedor.direccion"
              />
            </div>
            <div class="mb-3 d-grid gap-2">
              <label for="telefono">Teléfono: </label>
              <input
                type="text"
                id="telefono"
                name="telefono"
                class="form-control fs-5"
                required
                [(ngModel)]="nuevoProveedor.telefono"
              />
            </div>
            <div class="mb-3 d-grid gap-2">
              <label for="correo">Correo:</label>
              <input
                type="text"
                id="correo"
                name="correo"
                class="form-control fs-5"
                required
                [(ngModel)]="nuevoProveedor.email"
              />
            </div>
            <div *ngIf="errorAgregarProveedor" class="text-danger">
              Error al agregar el proveedor.
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-lg"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary btn-lg">
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="ModificarProveedorModal"
    tabindex="-1"
    aria-labelledby="ModificarProveedorModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form (ngSubmit)="modificarProveedor()">
          <div class="modal-header">
            <h2 class="text-center fs-2">Modificar Proveedor</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              #ModificarProveedorModal
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3 d-grid gap-2">
              <label for="nombre" class="form-label fs-5">Nombre:</label>
              <input
                type="text"
                id="nombre"
                name="nombre"
                class="fs-5"
                required
                [(ngModel)]="proveedor.nombre"
              />
            </div>
            <div class="mb-3 d-grid gap-2">
              <label for="direccion" class="form-label fs-5">Dirección:</label>
              <input
                type="text"
                id="direccion"
                name="direccion"
                class="fs-5"
                required
                [(ngModel)]="proveedor.direccion"
              />
            </div>
            <div class="mb-3 d-grid gap-2">
              <label for="telefono" class="form-label fs-5">Telefono: </label>
              <input
                type="text"
                id="telefono"
                name="telefono"
                class="fs-5"
                required
                [(ngModel)]="proveedor.telefono"
              />
            </div>
            <div class="mb-3 d-grid gap-2">
              <label for="correo" class="form-label fs-5">Correo: </label>
              <input
                type="text"
                id="correo"
                name="correo"
                class="fs-5"
                required
                [(ngModel)]="proveedor.email"
              />
            </div>
            <div *ngIf="errorModificarProveedor" class="text-danger">
              Error al modificar el proveedor.
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-lg"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary btn-lg">
              Modificar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
