<div class="container">
  <h2 class="h2-title">Clientes</h2>
  <div class="row mb-3">
    <div class="col-md-6">
      <input
        type="text"
        placeholder="Buscar por nombre..."
        [(ngModel)]="nombre"
        class="form-control"
        (change)="onFilterChange()"
      />
    </div>
    <div class="col-md-6 text-end">
      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#agregarClienteModal"
      >
        Agregar cliente
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 table-container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Cédula</th>
            <th>Observaciones</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes" class="hover-row">
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.cedula }}</td>
            <td>{{ cliente.observacion }}</td>
            <td>
              <button
                class="btn btn-primary me-2"
                data-bs-toggle="modal"
                data-bs-target="#ModificarClienteModal"
                (click)="
                  abrirModalModificacion(
                    cliente.id,
                    cliente.nombre,
                    cliente.email,
                    cliente.telefono,
                    cliente.cedula,
                    cliente.direccion,
                    cliente.observacion
                  )
                "
                title="Modificar"
              >
                <span class="material-icons icon-small">edit</span>
              </button>
              <button
                class="btn btn-danger"
                (click)="eliminarCliente(cliente.id)"
                title="Eliminar"
              >
                <span class="material-icons icon-small">delete</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center">
        <button
          class="btn btn-primary me-1"
          (click)="onPageChange(currentPage - 1)"
          [disabled]="currentPage === 0"
        >
          Anterior
        </button>
        <ng-container *ngIf="totalPages > 0">
          <button
            class="btn btn-primary me-1"
            (click)="onPageChange(0)"
            [disabled]="currentPage === 0"
          >
            1
          </button>
          <button
            *ngIf="currentPage > 1"
            class="btn btn-primary me-1"
            (click)="onPageChange(currentPage - 1)"
            [disabled]="currentPage === 1"
          >
            {{ currentPage }}
          </button>
          <button
            *ngIf="currentPage != 0 && totalPages != currentPage + 1"
            class="btn btn-primary me-1"
            (click)="onPageChange(currentPage)"
            [disabled]="true"
          >
            {{ currentPage + 1 }}
          </button>

          <button
            *ngIf="
              totalPages != currentPage + 2 && totalPages >= currentPage + 2
            "
            class="btn btn-primary me-1"
            (click)="onPageChange(currentPage + 1)"
          >
            {{ currentPage + 2 }}
          </button>
          <button
            *ngIf="totalPages > 1"
            class="btn btn-primary me-1"
            (click)="onPageChange(totalPages - 1)"
            [disabled]="currentPage === totalPages - 1"
          >
            {{ totalPages }}
          </button>
        </ng-container>
        <button
          class="btn btn-primary"
          (click)="onPageChange(currentPage + 1)"
          [disabled]="currentPage === totalPages - 1 || totalPages === 0"
        >
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Agregar Cliente -->
<div
  class="modal fade"
  id="agregarClienteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="agregarClienteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form (ngSubmit)="agregarCliente()">
        <div class="modal-header">
          <h2 class="text-center fs-2">Agregar cliente</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            #agregarClienteModal
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              [(ngModel)]="nuevoCliente.nombre"
              required
              class="form-control fs-5"
            />
          </div>
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="nuevoCliente.email"
              required
              class="form-control fs-5"
            />
          </div>
          <div class="mb-3">
            <label for="telefono">Teléfono:</label>
            <input
              type="text"
              id="telefono"
              name="telefono"
              [(ngModel)]="nuevoCliente.telefono"
              required
              class="form-control fs-5"
            />
          </div>
          <div class="mb-3">
            <label for="direccion">Dirección:</label>
            <input
              type="text"
              id="direccion"
              name="direccion"
              [(ngModel)]="nuevoCliente.direccion"
              required
              class="form-control fs-5"
            />
          </div>
          <div class="mb-3">
            <label for="cedula">Cédula:</label>
            <input
              type="text"
              id="cedula"
              name="cedula"
              [(ngModel)]="nuevoCliente.cedula"
              required
              class="form-control fs-5"
            />
          </div>
          <div class="mb-3">
            <label for="observacion">Observaciones:</label>
            <textarea
              id="observacion"
              name="observacion"
              [(ngModel)]="nuevoCliente.observacion"
              required
              class="form-control fs-5"
            ></textarea>
          </div>
          <div *ngIf="errorAgregarCliente" class="text-danger">
            Error al agregar el cliente.
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-lg"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary btn-lg">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Modificar Cliente -->
<div
  class="modal fade"
  id="ModificarClienteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modificarClienteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form (ngSubmit)="modificarCliente()">
        <div class="modal-header">
          <h2 class="text-center fs-2">Modificar cliente</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            #ModificarClienteModal
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              [(ngModel)]="cliente.nombre"
              required
              class="form-control fs-5"
            />
          </div>
          <div class="mb-3">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="cliente.email"
              required
              class="form-control fs-5"
            />
          </div>
          <div class="mb-3">
            <label for="telefono">Teléfono:</label>
            <input
              type="text"
              id="telefono"
              name="telefono"
              [(ngModel)]="cliente.telefono"
              required
              class="form-control fs-5"
            />
          </div>
          <div class="mb-3">
            <label for="direccion">Dirección:</label>
            <input
              type="text"
              id="direccion"
              name="direccion"
              [(ngModel)]="cliente.direccion"
              required
              class="form-control fs-5"
            />
          </div>
          <div class="mb-3">
            <label for="cedula">Cédula:</label>
            <input
              type="text"
              id="cedula"
              name="cedula"
              [(ngModel)]="cliente.cedula"
              required
              class="form-control fs-5"
            />
          </div>
          <div class="mb-3">
            <label for="observaciones">Observaciones:</label>
            <textarea
              id="observaciones"
              name="observaciones"
              [(ngModel)]="cliente.observacion"
              required
              class="form-control fs-5"
            ></textarea>
          </div>
          <div *ngIf="errorModificarCliente" class="text-danger">
            Error al modificar el cliente.
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-lg"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary btn-lg">
            Modificar Cliente
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
