<div class="container mt-5">
  <h2 class="h2-title">Estadísticas de reparaciones</h2>
  <div class="d-flex m-3 justify-content-center">
    <label for="yearInput" class="text-f">Año:</label>
    <input
      type="number"
      id="yearInput"
      [(ngModel)]="selectedYear"
      (change)="changeYear(selectedYear)"
      placeholder="YYYY"
      min="2017"
      max="2100"
      class="rounded"
    />
  </div>
  <div id="reparacionesPorMes" style="height: 300px; width: 100%"></div>
  <div id="noDataReparacionesPorMes" style="display: none">
    No se encontraron datos históricos para la gráfica 'Reparaciones por mes'
  </div>

  <div id="gastosEnElAno" style="height: 300px; width: 100%" class="mt-4"></div>
  <div id="noDataGastosEnElAno" style="display: none">
    No se encontraron datos históricos para la gráfica 'Gastos en el año'
  </div>
  <div
    id="comprasPorProveedor"
    style="height: 300px; width: 100%"
    class="mt-4"
  ></div>
  <div id="noDataComprasPorProveedor" style="display: none">
    No se encontraron datos históricos para la gráfica 'Compras por proveedor'
  </div>

  <div
    id="reparacionesPorTecnico"
    style="height: 300px; width: 100%"
    class="mt-4"
  ></div>
  <div id="noDataReparacionesPorTecnico" style="display: none">
    No se encontraron datos históricos para la gráfica 'Reparaciones por
    técnico'
  </div>
</div>
