.icon-small {
  font-size: 17px;
}

.card {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .card {
    margin: 0 10px;
  }
}

.container {
  margin-top: 0px !important;
}

/*MODALES */

.modal-content {
  border-radius: 10px;
  padding: 20px;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: 1px solid #e5e5e5;
}

.form-control {
  font-size: 1rem;
  padding: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.requerido {
  color: red;
}

.text-danger {
  margin-top: 1rem;
}
