.eliminar-cliente-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button {
  background-color: #dc3545;
  color: #fff;
}

.cancel-button {
  background-color: #007bff;
  color: #fff;
}

.confirm-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}
