<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-body p-5">
          <h2 class="card-title text-center mb-4 h2-title">Iniciar sesión</h2>
          <form [formGroup]="loginForm">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Usuario</label>
              <input
                formControlName="usuario"
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="nameHelp"
              />
              <div
                *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)"
                class="text-danger"
              >
                <div *ngIf="usuario.errors?.['required']">
                  El nombre de usuario es requerido.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Contraseña</label
              >
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
              <div
                *ngIf="password.invalid && (password.dirty || password.touched)"
                class="text-danger"
              >
                <div *ngIf="password.errors?.['required']">
                  El password es requerido.
                </div>
              </div>
            </div>
            <p class="text-danger text-center mb-4">
              {{ loginError ? "Credenciales inválidas" : "" }}
            </p>
            <div class="text-center">
              <button
                type="submit"
                (click)="login()"
                class="btn btn-success col-5 px-5 mt-3"
              >
                Iniciar sesión
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
