.icon-small {
  font-size: 17px;
}

.card {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
  .card {
    margin: 0 10px;
  }
}

.requerido {
  color: red !important;
  font-size: 14px;
  font-weight: 900;
}