<div class="d-flex justify-content-center">
  <div class="rounded border p-4 col-3">
    <form (ngSubmit)="modificarTecnico()">
      <h1 class="text-center fs-2">Modificar Tecnico</h1>
      <div class="mb-3 d-grid gap-2">
        <label for="nombre" class="form-label fs-5">Nombre:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          class="fs-5"
          required
          [(ngModel)]="nombreTecnico.nombre"
        />
      </div>
      <div *ngIf="errorModificarTecnico" class="error-message">
        Error al agregar el tecnico.
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Modificar</button>
      </div>
    </form>
  </div>
</div>
