<div class="Sidebar">
  <ul class="SidebarList">
    <li class="row" onclick="window.location.pathname = '/home';">
      <div class="icon"><span class="material-icons">dashboard</span></div>
      <div class="title">Home</div>
    </li>
    <li class="row" onclick="window.location.pathname = '/reparaciones';">
      <div class="icon"><span class="material-icons">build</span></div>
      <div class="title">Reparaciones</div>
    </li>
    <li class="row" routerLink="/clients">
      <div class="icon"><span class="material-icons">people_alt</span></div>
      <div class="title">Clientes</div>
    </li>
    <li class="row" onclick="window.location.pathname = '/repuestos';">
      <div class="icon">
        <span class="material-icons">app_settings_alt</span>
      </div>
      <div class="title">Repuestos</div>
    </li>
    <li class="row" onclick="window.location.pathname = '/proveedores';">
      <div class="icon"><span class="material-icons">person</span></div>
      <div class="title">Proveedores</div>
    </li>
    <li class="row" routerLink="/tecnicos">
      <div class="icon"><span class="material-icons">engineering</span></div>
      <div class="title">Técnicos</div>
    </li>
    <li class="row" onclick="window.location.pathname = '/compras';">
      <div class="icon"><span class="material-icons">shop_two</span></div>
      <div class="title">Compras</div>
    </li>
    <li class="row" onclick="window.location.pathname = '/estadisticas';">
      <div class="icon"><span class="material-icons">assessment</span></div>
      <div class="title">Estadísticas</div>
    </li>
    <li class="row" onclick="window.location.pathname = '/configuracion';">
      <div class="icon"><span class="material-icons">settings</span></div>
      <div class="title">Configuración</div>
    </li>
    <li class="row"data-bs-toggle="modal"
    data-bs-target="#agregarTecnicoModal">
      <div class="icon"><span class="material-icons">logout</span></div>
      <div class="title">Cerrar sesión</div>
    </li> 
  </ul>
</div>

<div
  class="modal fade"
  id="agregarTecnicoModal"
  tabindex="-1"
  aria-labelledby="agregarTecnicoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-center fs-2">¿Seguro que quiere irse?</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="row justify-content-evenly">
        <button
          type="button"
          class="btn btn-primary col-4"
          data-bs-dismiss="modal"
        >
          Cerrar
        </button>
        <button type="submit" class="btn btn-danger col-4">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>
