<div class="agregar-cliente-container">
  <h2>Agregar Cliente</h2>
  <form (ngSubmit)="agregarCliente()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        [(ngModel)]="nuevoCliente.nombre"
        required
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="nuevoCliente.email"
        required
      />
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input
        type="text"
        id="telefono"
        name="telefono"
        [(ngModel)]="nuevoCliente.telefono"
        required
      />
    </div>
    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <input
        type="text"
        id="direccion"
        name="direccion"
        [(ngModel)]="nuevoCliente.direccion"
        required
      />
    </div>
    <div class="form-group">
      <label for="cedula">Cédula:</label>
      <input
        type="text"
        id="cedula"
        name="cedula"
        [(ngModel)]="nuevoCliente.cedula"
        required
      />
    </div>
    <div class="form-group">
      <label for="observacion">Observaciones:</label>
      <textarea
        id="observacion"
        name="observacion"
        [(ngModel)]="nuevoCliente.observacion"
        required
      ></textarea>
    </div>
    <button type="submit">Agregar Cliente</button>
  </form>
  <div *ngIf="errorAgregarCliente" class="error-message">
    Error al agregar el cliente. Por favor, inténtalo de nuevo.
  </div>
</div>
